.logoWrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px; /* Much bigger */
  height: 600px;
  z-index: 0;
  pointer-events: none;
  /* Mask to create the "disappearing" effect towards the bottom/center */
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 80%);
  mask-image: linear-gradient(to bottom, black 20%, transparent 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSvg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

/* We don't need the floor glow anymore if it's a huge background element */
.glowFloor {
  display: none;
}

@media (max-width: 768px) {
  .logoWrapper {
    width: 100vw;
    height: 100vw;
    top: 35%;
  }
}