.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.icon {
  color: var(--text-secondary);
}

.options {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.option {
  background: none;
  border: none;
  padding: 0;
  color: var(--text-secondary);
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s;
}

.option:hover {
  color: var(--white);
}

.active {
  color: var(--white);
  font-weight: 700;
}

.divider {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
}
